.container {
  padding: 0 2rem;
  position: relative;
}

.header {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  width: 100%;

  top: 0;
  left: 0;
}

.header a {
  color: #979797;
  font-weight: 600;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  text-decoration: none;
}

.titleDemo {
  font-size: 2.5rem;
  text-align: center;

  margin-bottom: 28px;
}

.titleCompanies {
  text-align: center;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.titlePicket {
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.75rem;

  width: 350px;
}

.titlePlus {
  color: #979797;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-family: "GT Haptik", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 4rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.25rem;
  max-width: 600px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;

  background-color: #efefef;
}

.card:hover,
.card:focus,
.card:active {
  color: #5469d4;
  border-color: #5469d4;
  background-color: #fff;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-weight: 600;
  font-size: 1rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.button {
  background: #5469d4;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
}

.buttonLg {
  background: #5469d4;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem 2rem;
  transition: all 0.2s ease;
}

.loginSection {
  margin: 64px auto;
}

.infoSection {
  color: #414552;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  max-width: 650px;

  font-size: 1rem;
}

.infoBlock {
  width: 100%;

  background-color: #efefef;
  padding: 24px 32px;

  border: none;
  border-radius: 20px;
}

.infoBlock h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.infoBlock p {
  line-height: 1.5;
}

.infoBlock a {
  font-weight: 600;
  color: #5469d4;
}

.supabaseGreen {
  color: #34b27b !important;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 876px) {
  .titleCompanies {
    flex-flow: column nowrap;
    gap: 0.25rem;
  }

  .titlePicket {
    justify-content: center;
  }
}

.divider {
  width: 66%;
  height: 1px;
  background-color: #efefef;
  margin: 24px 0;
}
